<html>
    <head>
      <meta charset="utf-8" />
      <title><%= @books.length %> books</title>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <style>
        body {width:50%;margin:1em auto;font-family:sans-serif;}
        a {text-decoration:none;}
        img[itemprop="image"] {float:right;}
        article.book_bundle{min-height:300px;box-shadow:10px 10px 10px 5px gray;padding:20px;border:1pt solid gray;margin:20px;}
        section.book{height:300px;padding:20px;border:1pt solid gray;margin:20px; width: 90%}
        article.book{height:300px;box-shadow:10px 10px 10px 5px gray;padding:20px;border:1pt solid gray;margin:20px;}
      </style>
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <head>
    <body>
    <i class="fa fa-file-pdf-o"></i> fa-file-pdf-o
        <%= @html.join("\n") %>
    </body>
</html>