<html>
    <head>
      <meta charset="utf-8" />
      <title><%= @books.length %> books</title>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.3/zepto.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
      <link href="desktop.css" rel="stylesheet">
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <head>
    <body>
        <%= @html.join("\n") %>
        <footer><p><a href="https://github.com/lizconlan/bookshelf">github.com/lizconlan/bookshelf</a></p>
    </body>
</html>